@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
  --color-background: #000;
    --color-foreground: #f5f5f5;
    --color-accent: #f53f06;
    --color-muted: #a1a1aa;
    --color-textaccent: #71717a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-garamond: var(--font-cormorant-garamond);
  --font-space: var(--font-space-grotesk);
  --font-jets: var(--font-jetbrains-mono);
  --font-josefin: var(--font-josefins-sans);
  --font-anta: var(--font-anta);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-accent: var(--color-accent);
  --color-muted: var(--color-muted);
  --color-textaccent: var(--color-textaccent);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}